/* BASIC STYLES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* width */
*::-webkit-scrollbar {
  display: none;
}

/* Track */
*::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
*::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

ul {
  list-style: none;
  padding: 0;
}

.flex-middle {
  display: flex;
  align-items: center;
}

.inner {
  padding: 1rem;
}

/* COLORS */
.bg-primary {
  background-color: #222831;
}

.active.bg-primary {
  background-color: #1a2029;
}

.light-scheme .bg-primary {
  background-color: #d6d9dd;
}

.light-scheme .active.bg-primary {
  background-color: #c7cdd5;
}

/* LIGHT SCHEME DEFINITIONS STYLES */
.light-scheme.app-container {
  background-color: #EEEEEE;
  color: #222831;
}

.light-scheme .app-toolbar {
  background-color: #d6d9dd;
}

.light-scheme .toolbar-logo__title h3 {
  color: #000000;
}

.light-scheme .toolbar-item__inner:hover,
.light-scheme .toolbar-item__content,
.light-scheme .toolbar-positioning {
  background-color: #c7cdd5;
}

.light-scheme .positioning-item:hover,
.light-scheme .active.positioning-item {
  background-color: #222831;
}

.light-scheme .positioning-item:hover svg path,
.light-scheme .active.positioning-item svg path {
  fill: #c7cdd5;
}

.light-scheme .positioning-item {
  border: 1px solid #222831;
}

.light-scheme .toolbar-item__inner svg.small-icon,
.light-scheme .positioning-item svg path {
  fill: #222831;
}

.light-scheme .toolbar-item__inner svg.small-icon--stroke {
  fill: none;
}

.light-scheme .toolbar-item__inner svg.small-icon--stroke path {
  stroke: #222831;
}


/* APP PARTS STYLES */
.app-container {
  position: relative;
  display: flex;
  align-items: center;
  background-color: #31363F;
  color: #EEEEEE;
  width: 100vw;
  height: 100vh;
}

.app-toolbar {
  display: flex;
  flex-direction: column;
  text-align: left;
  position: relative;
  height: calc(100% - 2rem);
  margin-left: 1rem;
  border-radius: 8px;
  width: 260px;
  background-color: #222831;
  overflow: hidden;
}

.app-preview {
  position: absolute;
  top: 1rem;
  left: 1rem;
  padding: 0.5rem 1.25rem;
  border-radius: 6px;
  background-color: #ff9966;
  text-align: center;
  color: #000000;
}

.global-message {
  position: absolute;
  top: 1rem; left: calc(50% + 140px);
  transform: translateX(-50%);
  max-width: 420px;
  padding: 0.75rem 1.25rem;
  border-radius: 8px;
  text-align: center;
}

.toolbar-item__inner, .toolbar-logo {
  padding: 0 1.5rem;
}

.toolbar-logo {
  display: flex;
  align-items: center;
  margin-top: 1.5rem;
}

.toolbar-logo__image {
  width: 48px;
}

.toolbar-logo__title {
  margin-left: 0.5rem;
  line-height: 1;
}

.toolbar-logo__title h3 {
  color: #ffffff;
}

.toolbar-logo__title small {
  font-size: 0.675rem;
  opacity: 0.75;
}

.toolbar-menu {
  overflow-y: scroll;
  height: 100%;
}

.toolbar-item small {
  font-size: 0.675rem;
}

.toolbar-item__inner {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 0.75rem;
  padding-top: 0.75rem;
  font-weight: 500;
  transition: 0.25s all ease-in-out;
}

.toolbar-item__inner:hover {
  background-color: #1a2029;
  transform: scale(1.025);
}

.toolbar-item__inner svg.small-icon {
  fill: #EEEEEE;
}

.toolbar-item__inner svg.small-icon--stroke {
  fill: none;
}

.toolbar-item__inner svg.small-icon--stroke path {
  stroke: #EEEEEE;
}

.toolbar-item__content {
  background-color: #1a2029;
}

.toolbar-item__buttons {
  margin-top: 1rem;
}

.toolbar-info {
  padding: 2rem;
}

.toolbar-info small {
  font-size: 0.675rem;
}

.toolbar-info li {
  line-height: 1.125;
}

.toolbar-positioning {
  margin-top: 4.5rem;
  padding: 1rem 2rem;
  text-align: center;
  justify-content: center;
  background-color: #1a2029;
}

.positioning-item {
  cursor: pointer;
  padding: 0.5rem;
  margin: 0.33rem;
  border-radius: 6px;
  border: 1px solid #ffffff;
  transition: 0.25s all ease-in-out;
}

.positioning-item svg {
  width: 16px;
  height: 16px;
}

.positioning-item svg path {
  fill: #EEEEEE;
}

.active.positioning-item,
.positioning-item:hover {
  background-color: #ffffff;
}

.active.positioning-item svg path,
.positioning-item:hover svg path {
  fill: #1a2029;
}

.app-workspace {
  position: relative;
  overflow: scroll;
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 1rem;
  height: 100%;
}

.workspace-info {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 0.5;
}

.app-buttons {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  display: flex;
}

.button {
  margin-right: 0.5rem;
  display: flex;
  align-items: center;
}

.button--small {
  font-size: 0.75rem;
}

.button svg {
  width: 18px;
  height: 18px;
  margin-right: 0.35rem;
}

.small-icon {
  width: 18px;
  height: 18px;
  margin-right: 0.5rem;
  transition: 0.25s transform ease-in-out;
}

.small-icon--flipped {
  transform: rotate(180deg);
}

/* TOGGLE SWITCH STYLES */
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #d6d9dd;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #222831;
}

input:focus + .slider {
  box-shadow: 0 0 1px #222831;
}

.switch-parent--default input:checked + .slider {
  background-color: #5c86c6;
}

.switch-parent--default input:focus + .slider {
  box-shadow: 0 0 1px #5c86c6;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
}

.input-range {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
  text-align: center;
}